<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinates</key>
	<array>
		<string>{100,140}</string>
		<string>{100,240}</string>
		<string>{200,140}</string>
		<string>{100,340}</string>
		<string>{300,240}</string>
		<string>{200,142}</string>
	</array>
	<key>duration</key>
	<integer>0</integer>
	<key>New item</key>
	<string></string>
</dict>
</plist>
