<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinates</key>
	<array>
		<string>{400,140}</string>
		<string>{100,340}</string>
		<string>{200,740}</string>
		<string>{400,340}</string>
		<string>{300,540}</string>
		<string>{200,142}</string>
		<string>{700,142}</string>
	</array>
	<key>animationCurve</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>0</integer>
	</array>
	<key>Duration</key>
	<array>
		<string>2.0</string>
		<string>1.0</string>
		<string>4.0</string>
		<string>0.7</string>
		<string>2.4</string>
		<string>1.3</string>
		<string>3.5</string>
	</array>
</dict>
</plist>
